<main>
	<div id="scorecard">
		<div id="overview">
			<h1>Introduction</h1>
			<p>You've been invited to complete the scorecard <strong>"Top Loan Officer Potential"</strong>as seen below. The process should take about 15 minutes, and we recommend against closing your browser until completed.</p>
			<p><a class="btn btn-default btn-lg" href="/start">Begin Your Scorecard</a></p>
			<%= render partial: 'content' %>
		</div>
	</div>
</main>
